<?xml version="1.0" ?>
<!DOCTYPE config SYSTEM "/etc/iwatch/iwatch.dtd" >

<config>
  <guard email="root" name="iWatch"></guard>
  <watchlist>
  <title><%= @title %></title>
  <contactpoint email="root" name="root"/>
